base.DOCX
dffps_1.txt
dff_coords.txt
dff_coords_1.txt
dff_coords_horizontal.txt
dff_coords_vertical.txt
gds_diff_coords_3.txt
large_1.txt
poly.vcxproj
poly.vcxproj.filters
poly.vcxproj.user
table.XLSX
test_4_items.txt
x64/